<a href="/d/@flashCard?.Slug" class="block p-6 border rounded-lg shadow bg-neutral hover:bg-opacity-90">
    <div class="flex flex-col min-h-[8rem] gap-2">
        <div class="flex grow flex-col gap-5">
            <div class="flex sm:flex-row flex-col sm:items-center justify-between">
                <p class="text-lg font-semibold ">@flashCard?.Title</p>
                <p class="text-sm text-gray-400">@flashCard?.Category</p>
            </div>
            <p class="text-sm line-clamp-3">@flashCard?.Description</p>
        </div>
        <div class="flex justify-end">
            <p class="text-sm truncate">@flashCard?.TotalQuestion Question</p>
        </div>
    </div>
</a>