@inherits LayoutComponentBase
@using flashcard.Components.Components
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<nav class="flex items-center h-[4.6rem] rounded-box border-b border-gray-600">
	<div class="flex-1 px-2 lg:flex-none">
		<a href="/" class="text-lg font-bold">
			<div class="flex gap-1 items-center">
				<img src="/svg/logo.svg" alt="logo MindFlick" class="h-14"/>
				MindFlick
			</div>
		</a>
	</div>
	<div class="flex flex-1 justify-end px-2">
		<div class="flex items-stretch">
			<a href="/create" class="btn btn-ghost rounded-md ">Create</a>
			<a href="/deckmark" class="hidden sm:btn sm:btn-ghost sm:rounded-md">My Deckmark</a>
			<a href="/my-decks" class="hidden sm:btn sm:btn-ghost sm:rounded-md">My Decks</a>
			<AuthorizeView>
				<Authorized>
					<AvatarComponent Profile="@userProfile"/>
				</Authorized>
				<NotAuthorized>
					<a href="/auth/signin" class="btn btn-ghost rounded-md">Sign In</a>
				</NotAuthorized>
			</AuthorizeView>
		</div>
	</div>
</nav>

<div class="min-h-[91.5vh]">
	<div class="mx-auto max-w-7xl lg:px-0  px-10">
		@Body
	</div>
</div>
