@inherits LayoutComponentBase
@using flashcard.Components.Icon
@using flashcard.Components.Components
@using Microsoft.AspNetCore.Components.Authorization
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthenticationStateProvider

<div class="drawer">
	<input id="drawerMain" type="checkbox" class="drawer-toggle"/>
	<div class="drawer-content">
		<nav class="navbar rounded-box border-b border-gray-600">
			<div class="flex-1 px-2 lg:flex-none">
				<a class="text-lg font-bold">daisyUI</a>
			</div>
			<div class="flex flex-1 justify-end px-2">
				<div class="flex items-stretch">
					<a href="/create" class="btn btn-ghost rounded-md ">Create</a>
					<a href="/bookmark" class="hidden sm:btn sm:btn-ghost sm:rounded-md">My Bookmark</a>
					<a href="/mydeck" class="hidden sm:btn sm:btn-ghost sm:rounded-md">My Deck</a>
					<AuthorizeView>
						<Authorized>
							<AvatarComponent Profile="@userProfile"/>
						</Authorized>
						<NotAuthorized>
							<a href="/auth/signin" class="btn btn-ghost rounded-md">Sign In</a>
						</NotAuthorized>
					</AuthorizeView>
				</div>
			</div>
		</nav>

		<div class="min-h-[91.5vh]">
			<div class="mx-auto max-w-7xl lg:px-0  px-10">
				@Body
			</div>
		</div>

	</div>
	<div class="drawer-side">
		<label for="drawerMain" aria-label="close sidebar" class="drawer-overlay"></label>
		<ul class="menu bg-base-200 text-base-content min-h-full w-80 max-w-full p-4">
			<li>
				<button class="btn btn-ghost rounded-md w-full">
					<a href="/create">Create</a>
				</button>
			</li>
			<li>
				<button class="btn btn-ghost rounded-md w-full">
					<a href="/auth/signin" class="btn btn-ghost rounded-md">Sign In</a>
				</button>
			</li>
		</ul>
	</div>
</div>